In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-11-21 16:22:05,38.5167,-28.7000,64.80,82,75,23.02
1,1,Kruisfontein,ZA,2021-11-21 16:22:05,-34.0033,24.7314,69.89,84,98,22.10
2,2,Hami,CN,2021-11-21 16:22:05,42.8000,93.4500,26.44,47,0,3.18
3,3,Ushuaia,AR,2021-11-21 16:21:32,-54.8000,-68.3000,38.86,81,75,25.32
4,4,Beyneu,KZ,2021-11-21 16:22:06,45.3167,55.2000,40.14,75,26,18.70

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating = False, max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Cape Town,ZA,2021-11-21 16:20:28,-33.9258,18.4232,75.61,61,20,23.02
13,13,Chuy,UY,2021-11-21 16:22:08,-33.6971,-53.4616,87.80,35,0,10.33
16,16,Dekar,BW,2021-11-21 16:22:08,-21.5333,21.9333,81.36,46,100,18.19
17,17,Sao Joao Da Barra,BR,2021-11-21 16:22:09,-21.6403,-41.0511,77.09,63,65,13.40
19,19,Port-Gentil,GA,2021-11-21 16:22:09,-0.7193,8.7815,84.16,84,75,10.36
21,21,Bambous Virieux,MU,2021-11-21 16:22:10,-20.3428,57.7575,77.25,73,20,3.44
23,23,Saint-Philippe,RE,2021-11-21 16:22:10,-21.3585,55.7679,76.59,75,38,7.34
29,29,Adjumani,UG,2021-11-21 16:22:11,3.3779,31.7909,75.07,65,83,3.27
30,30,Souillac,MU,2021-11-21 16:22:12,-20.5167,57.5167,77.38,73,20,3.44
32,32,Bonthe,SL,2021-11-21 16:22:12,7.5264,-12.5050,84.38,70,28,9.91

In [12]:
preferred_cities_df.count()

City_ID       203
City          203
Country       201
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat      Lng Hotel Name
5           Cape Town      ZA     75.61 -33.9258  18.4232
13               Chuy      UY     87.80 -33.6971 -53.4616
16              Dekar      BW     81.36 -21.5333  21.9333
17  Sao Joao Da Barra      BR     77.09 -21.6403 -41.0511
19        Port-Gentil      GA     84.16  -0.7193   8.7815
21    Bambous Virieux      MU     77.25 -20.3428  57.7575
23     Saint-Philippe      RE     76.59 -21.3585  55.7679
29           Adjumani      UG     75.07   3.3779  31.7909
30           Souillac      MU     77.38 -20.5167  57.5167
32             Bonthe      SL     84.38   7.5264 -12.5050

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 50000,
    "type": "lodging",
    "key": g_key}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Cape Town,ZA,75.61,-33.9258,18.4232,Southern Sun Waterfront Cape Town
13,Chuy,UY,87.80,-33.6971,-53.4616,La Casa de las Boyas
16,Dekar,BW,81.36,-21.5333,21.9333,Tautona Lodge
17,Sao Joao Da Barra,BR,77.09,-21.6403,-41.0511,Palace Hotel - Campos dos Goytacazes
19,Port-Gentil,GA,84.16,-0.7193,8.7815,Fengshui Residence
...,...,...,...,...,...,...
577,Sal Rei,CV,82.60,16.1833,-22.9167,Marine Club Beach Resort
583,Depalpur,IN,76.91,22.8500,75.5500,Ginger Indore
585,Olinda,BR,85.73,-8.0089,-34.8553,Hotel Albergue de Olinda
589,Gamba,GA,78.62,-2.6500,10.0000,Laguna guest house
592,Saint-Pierre,RE,76.68,-21.3393,55.4781,Hôtel Le chenets

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))