## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/melen/OneDrive/Documents/Bootcamp Challenges/Module 6 - WeatherPy/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Maldonado,UY,75.22,clear sky,-34.6667,-54.9167,La Cimarrona
1,13,Sao Filipe,CV,81.97,overcast clouds,14.8961,-24.4956,Hotel Xaguate
2,23,Bilma,NE,75.29,clear sky,18.6853,12.9164,Expeditions Ténére voyages
3,63,Chake Chake,TZ,75.00,overcast clouds,-5.2459,39.7666,Hotel Archipelago
4,68,Puerto Madero,MX,82.60,scattered clouds,14.7208,-92.4215,Hospedaje madero
5,69,Salina Cruz,MX,81.10,clear sky,16.1667,-95.2000,Amerik HOTEL
6,80,Padang,ID,77.05,broken clouds,-0.9492,100.3543,Mercure Padang
7,81,Bengkulu,ID,80.06,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
8,91,Kita,ML,75.65,clear sky,13.0349,-9.4895,Hôtel Chat Rouge
9,94,Tonj,SS,75.70,broken clouds,7.2737,28.6822,Lakan Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cururupu"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Araci"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Aquiraz"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Touros"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Coruripe"]

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer_map = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(direction_layer_map)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,101,Cururupu,BR,76.75,broken clouds,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
1,545,Aquiraz,BR,81.18,few clouds,-3.9014,-38.3911,Pousada Rua Camurupim
2,148,Touros,BR,81.50,clear sky,-5.1989,-35.4608,INN NEW HORIZON
3,482,Coruripe,BR,77.77,clear sky,-10.1256,-36.1756,Pousada e Hotel Litoral Sul

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
vacation_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(vacation_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))